.bulk-edit {

    .no-margin {
        margin: 0;
    }

    .btn-none {
        background: none;
        border: none;
    }

    select.per-page {
        width: 4em;
    }

    .btn-settings {
        font-size: 24px;
        line-height: 40px;
        margin: 10px 0;
        &:hover,
        &:focus {
            color: #000;
        }
    }

    .content-type-selector {
        select {
            width: 180px;
        }
    }

    .row .span0-5 {
        width: 4.16666666665%;
    }

    .bulk-edit-table {
        border: solid 2px black;
        .row {
            display: flex;
            align-items: stretch;
        }
        .head { 
            background: #ddd;
            .cell {
                text-shadow: 0.5px 0 0 black;
            }
        }
        .body {
            .row {
                border-top: solid 1px black;
            }
        }
        .cell {
            padding: 2px;
            border-left: solid 1px black;
            &:first-child,
            &.no-border {
                border-left: none;
            }
        }
    }
}

#contentwrapper {
    &.hide-nav {
        left: 0;
    }
}