<div class="row bulk-edit" ng-controller="bulkEdit.dashboard.controller">
    <div class="span12">
        <div class="row">
            <h3 class="span11">Bulk Edit</h3>
            <div class="span1">
                <button class="btn-none btn-settings pull-right" ng-click="openConfigDialog()" type="button">
                    <i class="icon icon-settings"></i>
                </button>
            </div>
        </div>
        <!-- Head Section -->
        <div class="section head row">
            <div class="span8">
                <p>
                    <!-- Node Selection -->
                    <span ng-show="startNode.id !== 0">
                        Find nodes under&nbsp;
                    </span>
                    <!-- Choose Node Button --> 
                    <button ng-click="openStartNodePicker()" type="button" class="btn btn-inline">
                        <span ng-show="startNode.id == 0">Choose Start Node</span>
                        <span ng-show="startNode.id !== 0"><i class="icon" ng-class="startNode.icon"></i> {{startNode.name}}</span>
                    </button>
                    <span class="content-type-selector" ng-show="startNode.id !== 0">
                        &nbsp;with the&nbsp;
                        <select
                            class="no-margin" 
                            ng-model="doctype" 
                            ng-change="loadDocType()" 
                            ng-options="x as x.Name for x in doctypes">
                        </select>
                        &nbsp;docType.
                    </span>
                </p>
                <button 
                    type="button" 
                    ng-click="search()" 
                    class="btn umb-button__button"
                    ng-disabled="doctype.id == 0 || startNode.id == 0">Search</button>
            </div>
            <div class="span2">
                <!-- Something will eventually go here -->
            </div>
            <!-- Export as CSV -->
            <div class="span2 sidebar-buttons">
                <div class="wrapper">
                    <button 
                        type="button" 
                        ng-click="exportAsCsv()"
                        class="btn pull-right umb-button__button"
                        ng-disabled="doctype.id == 0 || startNode.id == 0">Export as CSV</button>
                </div>
                <div class="wrapper" ng-show="savedSearches.length > 0">
                    <button type="button" class="btn pull-right umb-button__button" ng-click="toggleSavedSearchPanel()">
                        <span ng-show="!showSavedSearch">Load A Saved Search</span>
                        <span ng-show="showSavedSearch">Hide Saved Searches</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Results Section -->
        <div class="section" ng-show="results.length > 0 && !showSavedSearch">
            <hr />
            <!-- Results Headline -->
            <div class="row">
                <h4 class="span9">Results (Found {{results.length}} Documents)</h4>
                <div class="span3">
                    <!-- Add Field Button -->
                    <button type="button" 
                        ng-click="openPropertySelection()"
                        class="btn umb-button__button pull-right"
                        ng-show="!isSelectingProperty">
                        Add Field
                    </button>
                    <!-- Propery Editor Select Dropdown -->
                    <div ng-show="isSelectingProperty" class="pull-right">
                        <select
                            class="no-margin"
                            ng-model="propertyToAdd"
                            ng-options="x as x.Name for x in getFilteredAvailableProperties()"></select>
                        <button
                            ng-click="addPropertyToEditList()"
                            class="btn umb-button__button"
                            ng-disabled="propertyToAdd.id == 0">Add</button>
                    </div> 
                </div>
            </div>
            <!-- Table of Results -->
            <div class="bulk-edit-table">
                <!-- Table Header -->
                <div class="head row">
                    <!-- Node Name -->
                    <div class="cell span2">Content Name</div>
                    <!-- Node ID -->
                    <div ng-show="!config.hideIdCol" class="cell span1 text-center">Content ID</div>
                    <!-- Property Editors -->
                    <div ng-class="getEditCellClass()" ng-repeat="prop in propertiesToEdit">{{prop.label}}</div>
                    <!-- Spacer if no Property Editors -->
                    <div class="cell span8" ng-show="propertiesToEdit.length == 0 && !config.hideIdCol"></div>
                    <div class="cell span9" ng-show="propertiesToEdit.length == 0 && config.hideIdCol"></div>
                    <!-- Spacer -->
                    <div class="cell span1 no-border"></div>
                </div>
                <!-- Table Body -->
                <div class="body">
                    <!-- Table Row / Repeats Per Item in Results -->
                    <div class="row" ng-repeat="result in getCurrentPage()">
                        <!-- Node Name -->
                        <div class="cell span2">
                            <div>
                                <a class="result-content-name" 
                                    href="/umbraco/#/content/content/edit/{{result.Id}}" 
                                    target="_blank">{{result.Name}} <i ng-class="value.icon" class="icon-out"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Node ID -->
                        <div ng-show="!config.hideIdCol" class="cell span1 text-center">{{result.Id}}</div>
                        <!-- Property Editors -->
                        <div ng-class="getEditCellClass()" ng-repeat="editor in propertyEditors[getResultIndex(result)]">
                            <umb-editor model="editor"></umb-editor>
                        </div>
                        <!-- Spacer if No Property Editors -->
                        <div class="cell span8" ng-show="propertiesToEdit.length == 0 && !config.hideIdCol"></div>
                        <div class="cell span9" ng-show="propertiesToEdit.length == 0 && config.hideIdCol"></div>
                        <!-- Save Button -->
                        <div class="cell span1 text-center">
                            <div ng-show="propertiesToEdit.length > 0">
                                <button 
                                    type="button" 
                                    class="btn umb-button__button"
                                    ng-class="{'btn-success': isRowDirty[getResultIndex(result)]}"
                                    ng-disabled="!isRowDirty[getResultIndex(result)] || isSaving[getResultIndex(result)]"
                                    ng-click="saveNode(getResultIndex(result))"
                                    ng-show="!isSaving[getResultIndex(result)]">
                                        <span ng-show="!isSaving[getResultIndex(result)]">Save</span>
                                        <span ng-show="isSaving[getResultIndex(result)]">Saving...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <!-- end Table of Results -->
            <!-- Page Navigation and Save Page Button -->
            <div class="row">
                <div class="span10">
                    <div ng-show="getPages().length > 1">
                        <p>Pages: <span ng-repeat="page in getPages()">
                            <button 
                                class="btn umb-button__button" 
                                type="button" 
                                ng-class="{'btn-success': page==(currentPage + 1)}"
                                ng-click="gotoPage(page)">{{page}}</button> 
                        </span></p>
                    </div>
                </div>
                <div class="span2">
                    <button type="button" class="btn pull-right umb-button__button btn-success" ng-click="saveAll()">Save All On Page</button>
                </div>
            </div>
            <div><br/></div>
        </div>
        <!-- Saved Searches -->
        <div class="section" ng-show="showSavedSearch">
            <hr />
            <!-- Headline -->
            <h4>Saved Previous Searches</h4>
            <div class="bulk-edit-table">
                <!-- Table Header -->
                <div class="head row">
                    <div class="cell span1"></div>
                    <!-- Search Name -->
                    <div class="cell span4">Search Name</div>
                    <!-- Root ID -->
                    <div class="cell span1 text-center">Root Node ID</div>
                    <!-- DocType -->
                    <div class="cell span2 text-center">DocType</div>
                    <!-- Spacer -->
                    <div class="cell span4"></div>
                </div>
                <!-- Table Body -->
                <div class="body">
                    <div class="row" ng-repeat="search in getCurrentSavedSearchPage()">
                        <!-- Search Button -->
                        <div class="cell span1 text-center">
                            <button class="btn umb-button__button" type="button" ng-click="runSavedSearch(search)">Search</button>
                        </div>
                        <!-- Search Name -->
                        <div class="cell span4">{{search.Name}}</div>
                        <!-- Root ID -->
                        <div class="cell span1 text-center">{{getJsonProp(search.Options, 'rootId')}}</div>
                        <!-- DocType -->
                        <div class="cell span2 text-center">{{getJsonProp(search.Options, 'alias')}}</div>
                        <!-- Spacer -->
                        <div class="cell span3"></div>
                        <div class="cell span1 no-border">
                            <span class="pull-right">
                            <button type="button" class="btn umb-button__button" ng-click="openDeleteSavedSearchDialog(search.Guid)">X</button>&nbsp;
                            </span>
                        </div>                    
                    </div>
                </div>
            </div>
            <!-- Page Navigation and Save Page Button -->
            <div class="row">
                <div class="span10">
                    <div ng-show="getSavedSearchPages().length > 1">
                        <p>Pages: <span ng-repeat="page in getSavedSearchPages()">
                            <button 
                                class="btn umb-button__button" 
                                type="button" 
                                ng-class="{'btn-success': page==(currentSavedSearchPage + 1)}"
                                ng-click="gotoSavedSearchPage(page)">{{page}}</button> 
                        </span></p>
                    </div>
                </div>
            </div>
            <div><br/></div>            
        </div>
    </div>
</div>